/* -----------TEXTOS---------- */

/* -----------Titulo---------- */
h1 {
	font-size: 50px;
	color: #70e589;
	text-align: center;
}

h2 {
	font-size: 25px;
	color: #229b40;
	text-align: center;
}

.titulo {
	padding-left: 25px;
}

.texto {
	font-size: 18px;
	text-align: justify-all;
	padding: 35px;
}	

/* -----------Titulo Sec y Otros---------- */

h3, h4 {
	text-align: center;
	font-size: 22px;
	color: grey;
}

li {
	display: inline-block;
}

a {
	color: #8888d4;
}
/* --------------------------------- */